.hour-block{
    padding: 5px;
    margin-top: 5px;
    /* border-style: solid; */
    /* border-color: white; */
    border-width: 2px;
    text-align: center;
    color: black;
}

.time{
    font-size: 22px;
    font-weight: bold;
}

.temp{
    font-size: 30px;
    font-weight: bold;
}

/* .colour{
    height: 54%;
    background-color: #EF8354;
    transform-origin: bottom left;

} */

body{
    font-family: 'Baloo 2', cursive !important;
    color: black;
    /* background-image: linear-gradient(hsl(229, 19%, 22%), hsl(229, 19%, 40%) 100%); */
}

.sources-text{
    font-size: 12px;
}

.icon{
    width: 50px;
    height: 50px;
    /* background-image: linear-gradient(hsl(197, 100%, 69%), hsl(210, 100%, 69%) 100%); */
    border-radius: 2px;
    color: black;
    font-size: 36px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 25px;

    display: none;
    display: inline-block;
    vertical-align: middle;

}

.hour-icon{
    font-size: 14px;
}

#phrase{
    font-size: 80px;
    font-weight: bold;
    padding: 30px 30px 30px 0px;
    margin-bottom: 0px;
}

.current-time{
    font-size: 70px;
    color: white;
}

.no-padding{
    padding: 0px;
}

.sun{
    font-size: 20px;
    height: 50%;
    vertical-align: middle;
    color: white;
}

.dark-grey{
    background-color: #282828;
}

.padding-top-50{
    padding-top: 50px;
}
